.jumbotron {
    background-image:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../images/jumbotron.png);
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    .welcome {
        font-size: 40px;
        font-family: "Droid Serif";
        color: rgb(255, 255, 255);
        text-align: center;
    }
    .seey {
        font-size: 75px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }
    .btnjumb {
        font-size: 18px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        padding: 20px 25px;
        margin-top: 20px;
    }
    .overlay {
        background-color: rgba(0,0,0,0.5);
    }
}
.navbar {
    .navbar-brand {
        font-size: 14px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    }
    .nav>li>a {
        @extend .navbar-brand;
    }
}
.services {
    box-sizing: border-box;
    text-align: center;
    .title_services {
        font-size: 40px;
        font-family: "Montserrat";
        color: rgb(34, 34, 34);
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        padding-top: 50px;
    }
    .sub_title {
        font-size: 16px;
        font-family: "Droid Serif";
        color: rgb(119, 119, 119);
        font-style: italic;
        text-align: center;
        padding-bottom: 100px;
    }
    i {
        color: #f0ad4e;
    }
    .circle {
        border-style: solid;
        border-width: 3px;
        border-color: rgb(254, 209, 54);
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        width: 25%;
        margin: 0 auto;
        padding: 10px;
      }
      
}
.portfolio {
    @extend .services;
    background-color: #F7F7F7;
    margin-top: 100px;
    h2 {
        font-size: 18px;
        font-family: "Montserrat";
        color: rgb(51, 51, 51);
        text-align: center;
        background-color: white;
        font-weight: 700;
        margin-top: 0;
        padding-top: 30px;
        padding-bottom: 0;
        margin: 0;
    }
    p {
        font-size: 14px;
        font-family: "Droid Serif";
        color: rgb(115, 115, 115);
        font-style: italic;
        text-align: center;
        background-color: white;
        padding-bottom: 30px;
    }
    .port1 {
        background-color: white;
        width: 291px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
}
.about {
    @extend .services;
    .line {
        background-color: rgb(241, 241, 241);
        width: 3px;
        height: 94px;
        margin: 0 auto;
    }
    .date { 
        font-size: 18px;
        font-family: "Montserrat";
        color: rgb(34, 34, 34);
        font-weight: bold;
        text-transform: uppercase;
        text-align: right;
    }
    .desc {
        font-size: 14px;
        font-family: "Roboto Slab";
        color: rgb(119, 119, 119);
        text-align: right;
    }
    .date-left {
        @extend .date;
        text-align: left;
    }
    .desc-left {
        @extend .desc;
        text-align: left;
    }
}
.team {
    @extend .portfolio;
    .teampic {
        border-radius: 50%;
        max-height: 225px;
        max-width: 225px;
    }
    h2 {
        background-color: #F7F7F7;
    }
    p {
        background-color: #F7F7F7;  
        padding-bottom: 0;
    }
    .icon-btn {
        width: 40px;
        height: 40px;
        border: 0;
        background-color: #fff;
        border-radius: 50%;
        margin: 5px;
        cursor: pointer;
        font-size: 25px;
        transition: ease-in-out .3s;
        margin-bottom: 30px;
        &:hover {
            i {
            transform: scale(1.10);
            color: white;
            }
        }
    }
    .twitter {
        i {
            color: #4099FF;
        }
        &:hover {
            background-color: #4099FF;
        }   
    }     
    .facebook {
        i {
        color: #3B5998;
        }
        &:hover {
            background-color: #3B5998;
        }
    }
    .google-plus { 
        i {
        color: #DB5A3C;
        }
        &:hover {
            background-color: #DB5A3C;
        }
    }
    .pinterest {
        i {
        color: red;
        }
        &:hover {
            background-color: red;
        }
    }
    .desc {
        font-size: 16px;
        font-family: "Roboto Slab";
        color: rgb(119, 119, 119);
        text-align: center;
        padding-bottom: 50px;
    }
}
.logos {
    text-align: center;
    img {
     margin: 50px 0;
    }
}
.contact {
    @extend .services;
    background-image: url(../../images/background.png);
    background-size: cover;
    height: 100%;
    .title_services {
        color: white;
    }
    .form-control {
        padding: 20px;
        margin-bottom: 25px;
        height: auto;
    }
    .txt1 {
        padding: 20px;
        height: 237px;
    }
    .sub_title {
        padding-bottom: 50px;
    }
    .btncont {
        font-size: 18px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        padding: 20px 25px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}